<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Text</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="button : ${buttons}">
            <td th:text="${button.id}"></td>
            <td th:text="${button.text}"></td>
            <td>
                <form th:action="@{'/button/' + ${button.id}}" method="post">
                    <button class="btn btn-primary" type="submit">Click</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>