<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Крестики-нолики</title>
    <style>
        .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-content: center;
    width: fit-content;
    margin: auto;
}

        .button {
    margin: 3px;
    width: 60px;
    height: 60px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    }
        .button:hover {
        background-color: #107170;
        }
    </style>
</head>
<body>
<div class="grid-container">
    <button class="button" data-id="1"></button>
    <button class="button" data-id="2"></button>
    <button class="button" data-id="3"></button>
    <button class="button" data-id="4"></button>
    <button class="button" data-id="5"></button>
    <button class="button" data-id="6"></button>
    <button class="button" data-id="7"></button>
    <button class="button" data-id="8"></button>
    <button class="button" data-id="9"></button>
</div>
</body>
</html>